<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.alarmclock">

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 2019-5-3 zhz -->
    <!-- 忽略电池的优化 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 唤醒锁 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- <uses-permission android:name="android.permission.DEVICE_POWER"/> -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 2019-5-3 zhz -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="闹钟"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".CallAlarm"
            android:process=".remote" />

        <activity
            android:name=".AlarmAlert"
            android:label="@string/app_name" />

        <receiver
            android:name=".CallAlarm"
            android:process=".remote" />
        <!-- 2019-5-4 zhz -->
        <!-- 2019-5-22 zhz -->

        <activity android:name=".ChoiceMusic"></activity>

    </application>

</manifest>